<div id="theme-block-{{ block.id }}" {{ block.shopify_attributes }}>
<div></div>
</div>
{% schema %}
  {
    "name": "Empty column",
    "settings": [
      {
        "type": "paragraph",
        "content": "Empty column. An empty column works on a large screen. It's needed for dynamic placement of design columns."
      }
    ],
    "presets": [
      {
      	"name": "Empty column",
      }
    ]
  }
{% endschema %}